BasedOnStyle: WebKit
PointerBindsToType: false
ObjCSpaceAfterProperty: true
ColumnLimit: 120
AlwaysBreakBeforeMultilineStrings: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
#BreakBeforeTernaryOperators: true