BasedOnStyle: WebKit
PointerBindsToType: false
ObjCSpaceAfterProperty: true
ColumnLimit: 160
AlwaysBreakBeforeMultilineStrings: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false